body {
	background-color: #f4f4f4;

margin: 0px;
border-top: solid 8px #090909;
}

.container {
	width: 960px;
	margin: auto;
	outline: solid 1px red;
	background-color: #f4f4f4;
}

footer.closing {
	background-color: #e2e2e2;
}


/* Header */

header.opening {
	outline: solid 1px green;
	height: 130px;
	position: relative;
}

header.opening h1.logo {
	background-image: url(../img/CreativeStudio-assets/cc-logo.png);
	width: 182px;
	height: 100px;
	font-size: 0;

	position: absolute;
	left: 0px; top: 10px;
}
/* NAV */

nav.mainmenu {

	position: absolute;
	right: 0px; bottom: 30px;
}

body {
	font-family: helvetica, sans-serif;
}

nav.mainmenu a{
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;

	margin-left: 73px;
	color: #f88b00
}

nav.mainmenu a:hover {
	color: black;
}

.horizontal-rule {
	border-top: 1px solid #c0c0c0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.trifecta {
	display: flex;
	justify-content: space-between;
}

.trifecta .col {
	outline: solid 3px purple;
	/*height: 300px;*/
	width: 285px;
	padding-bottom: 20px;
}

.trifecta .col h2 {
	border-bottom: solid 5px black;
	padding-bottom: 5px;
	font-size: 20px;
	margin-bottom: 20px;
}

.portfolio {}
.portfolio h2 {
	padding-bottom: 5px;
	font-size: 20px;}
.portfolio .gallery {
	display: flex;
	justify-content: space-between;
}
